<div class="home_show">
	<div class="home_show_mooves">
		<% if (@user.admin)%>
		<div class="home_show_admin_panel">
			<p class="home_show_admin_panel_p"><%=t('.username')%> : <%= @user_c.username || 'nil' %></p>
			<p class="home_show_admin_panel_p"><%= link_to t('.panel'), admin_index_path %></p>
		</div>
		<% end %>
		<div class="home_show_likes">
			<p class="home_show_likes_p"><%=t('.likes')%> : <%= @likes.count || 0 %></p>
		</div>

		<div class = "home_show_d">
			<%= link_to t('.new_post') , new_post_path(:user_id => @user_c.id) %>
		</div>		
	</div>
	<div class="home_show_posts">
			<% @posts.each do |post|%>
				<div class="home_show_post_card card">
					<p> <%=t('.name')%> : <%= post.name %></p>
					<p> <%=t('.tags')%> : <%= raw post.tags.map{ |t| link_to t.title,tag_path(:id => t.id), class: 'tag tag-primary'}.join(' ') %></p>
					<p> <%=t('.published')%> : <%= post.published %> </p>
					<div class="home_show_post_card_links">
						<% 	@post_show = '/posts/' + post.id.to_s%>
						<%= link_to t('.show'), @post_show%>
						<%= link_to t('.edit'), edit_post_path(:user_id => @user.id,:id => post.id)  %>
						<%= link_to t('.delete'), post_path(:user_id => @user.id,:id => post.id), method: :delete %>
					</div>
				</div>			
			<% end%>
	</div>
</div>
<div class = "home_show_back">
	<%= link_to t('.back'), '/', class: "btn-primary btn"%>
</div>