<div class="home_head_posts" style="width: fit-content;">
	<p class="home_head_posts_p"> <%= t('.about')%> <%= @tag %></p>
</div>
<div class = "start_reviews_new">
	<% @posts.each do |post| %>
		<div class="card">
			<div class = "rate name">
				<p><%= t('.name')%> : <%= post.name %></p>
				<p><%= t('.rate')%> : <%= post.rate %>/5</p>
			</div>
		<p><%=t('.tags')%> : <%= raw post.tags.map(&:title).map{ |t| link_to t,tag_path(:id=>tag.id) class: 'tag tag-primary'}.join(' ')%></p>
		<p><%=t('.content')%> : <%= post.rich_content%></p>
		<p><%=t('.mark')%> : <%= post.mark %>/10</p>
		<% @post_show = '/posts/'+post.id.to_s%>					
		<%= link_to t('.show'), @post_show %>
		</div>
	<% end %>
</div>
<div class = "home_show_back">
	<%= link_to t('.back'), '/'%>
</div>