<div class = "main">
	<div class = "start_reviews">
		<div class="home_head_posts"><p class="home_head_posts_p">Latest posts</p></div>
		<div class = "start_reviews_new">
			<% @posts_latest.each do |post| %>
			<div class="card">
				<div class = "rate name">
					<p>Name : <%= post.name %></p>
					<p>rate : <%= post.rate %></p>
				</div>
				<p>Content : <%= post.rich_content%></p>
				<%= link_to 'Show', post_path(:id => post.id)%>
			</div>
			<% end %>
		</div>
		<div class="home_head_posts"><p class="home_head_posts_p">Most rated post</p></div>
		<div class = "start_reviews_new">
			<% @posts_rated.each do |post| %>
				<div class="card">
					<div class = "rate name">
						<p>Name : <%= post.name %></p>
						<p>rate : <%= post.rate %></p>
					</div>
					<p>Content : <%= post.rich_content%></p>
					<%= link_to 'Show', post_path(:id => post.id)%>
				</div>
			<% end %>
		</div>
	</div>
</div>