<h1>Edit your post</h1>
<%= form_with url:post_path(:id => @post.id), method: :put do |form| %>
	<%= form.hidden_field :id, value: @post.id%>
	<div class="field">
		<h2>Select new name for post</h2>
			<%= form.label :name%>
			<%= form.select :name, ['Book','Game','Moovie']%>
	</div>

	<div class="field">
		<%= form.label :content%>
		<%= form.rich_text_area :rich_content, value: @post.content%>
	</div>
	<div class = "field">
		<%= form.label :tags%>
		<%= form.text_field :tags, value: @post.tags%>
	</div>
	<div class = "field">
		<%= form.label :published%>
		<%= form.check_box :published%>
	</div>
	<div class = "field">
		<%= form.label :mark%>
		<%= form.number_field :mark, max: 10%>
	</div>
	<div class="field">
		<%= form.submit value: 'Change'%>
	</div>
<%end%>