<div class="new_post"><h2 class="posts_new_h2"><%= t('.edit_post')%></h2></div>
<%= form_with url: post_path(:id => @post.id), method: :put do |form| %>
	<%= form.hidden_field :id, value: @post.id%>
	<div class="field">
			<%= form.label t('.name')%>
			<%= form.select :name, ['Book','Game','Moovie']%>
	</div>

	<div class="field">
		<%= form.label t('.content')%>
		<%= form.rich_text_area :rich_content, value: @post.content%>
	</div>
	<div class = "field">
		<%= form.label t('.tags')%>
		<%= form.text_field :tags, value: @post.tags.map(&:title).join(' ')%>
	</div>
	<div class = "field">
		<%= form.label t('.published')%>
		<%= form.check_box :published%>
	</div>
	<div class = "field">
		<%= form.label t('.mark')%>
		<%= form.number_field :mark, max: 10%>
	</div>
	<div class="field">
		<%= form.submit value: t('.change')%>
	</div>
<%end%>
<div class="back">
	<%= link_to t('.back_to_acc'), home_path(:id => current_user.id) %>
</div>
