<div class="new_post"><h2 class="posts_new_h2"><%= t('.new_post')%></h2></div>
<%= form_with url:posts_path(:user_id => @user.id), method: :post do |form|%>
	<%= form.hidden_field :user_id, value: @user.id%>
	<%= form.hidden_field :content, value: ""%>
	<div class = "field">
		<%= form.label t('.name') %>
		<%= form.select :name, ['Book','Game','Moovie']%>
	</div>
	<div class = "field">
		<%= form.label t('.content')%>
		<%= form.rich_text_area :rich_content%>
	</div>
	<div class = "field_tags">
		<%= form.label t('.tags')%>
		<%= form.text_field :tagging, class: "form-control"%>
	</div>
	<div class = "field">
		<%= form.label t('.published')%>
		<%= form.check_box :published, class:"form-check-label"%>
	</div>
	<div class = "field">
		<%= form.label t('.mark')%>
		<%= form.number_field :mark, max: 10%>
	</div>
	<div class = "actions">
		<%= form.submit t('.create')%>
	</div>
<%end%>
<div class="back">
	<%= link_to t('.back_to_acc'), home_path(:id => current_user.id) %>
</div>
