<div class="posts_show">

	<div class="card">

	<div class="post_show_name">
		<p><%=t('.name')%> : <span style="font-weight: 600;"><%= @post.name %> </span></p>	
		<p> <%=t('.rate')%> : <%= @av_rate %>/5 </p>
	</div>	

	<div class="line"></div>

	<div class = "posts_show_content">
		<p><%=t('.content')%> : </p>
		<%= @post.rich_content %>
	</div>

	<div class="line"></div>

	<div class="posts_show_content">
		<p><%= t('.tags')%> : <%= @tags%></p>
	</div>

	<div class="line"></div>

	<div class = "posts_show_content">
		<p><%=t('.mark')%> : <%= @post.mark %>/10 </p>
	</div>

	<div class="line"></div>

		<div class="all_comments">
			<p><%= t('.comments')%> : </p>
			<% @comments.each do |comment| %>
				<div class="comment">
					<% @author = User.find(comment.user_id)%>
					<p> <%=t('.author')%> : <%=@author.username%></p>
					<div class = "posts_show_comment_rich"></p><%= comment.rich_content%></p></div>
				</div>
			<% end %>
		</div>
	<% if current_user %>
		
		<div class="new_comment">
			<p><%=t('.give_comment')%> : </p>
		</div>
		<%= form_with url: '/comments',method: :post do |form| %>

		<div class = "posts_show_comment">
			<div><%= form.rich_text_area :rich_content %></div>
			<%= form.hidden_field :user_id, value: current_user.id%>
			<%= form.hidden_field :post_id, value: @post.id%>
			<%= form.hidden_field :content, value: ""%>
			<%= form.submit t('.send'), class: "btn btn-primary button"%>
		</div>
		<% end %>

		<div class = "rate">			
			<form action="/rates" method="post" class="posts_show_form">
				<div class="like_btn">
					<%= link_to t('.like'), likes_path(:post_id => @post.id, :user_id => current_user.id ), method: :post%>
				</div>

				<div class="rating-area">
				<input type="hidden" name="user_id" value=<%=current_user.id%>>

				<input type="hidden" name="post_id" value=<%=@post.id%>>

				<input type="radio" id="star-5" name="mark" value=5>

				<label for="star-5" title="Оценка «5»"></label>	

				<input type="radio" id="star-4" name="mark" value=4>

				<label for="star-4" title="Оценка «4»"></label>    

				<input type="radio" id="star-3" name="mark" value=3>

				<label for="star-3" title="Оценка «3»"></label>  

				<input type="radio" id="star-2" name="mark" value=2>

				<label for="star-2" title="Оценка «2»"></label>    

				<input type="radio" id="star-1" name="mark" value=1>

				<label for="star-1" title="Оценка «1»"></label>

				</div>

				<p><input type="submit" class="post_show_submit_rate btn btn-primary" value=<%=t('.set_rate')%>></p>

			</form>
		</div>
	</div>
	<% end %>
	<%= link_to t('.home'), '/', class:"btn-primary btn", style:"margin-left: 50px"%>
</div>
