<div class="posts_show">

	<div class="post_show_name">
		<h2>Post about <%= @post.name %> </h2>	
		<p> Rate : <%= @av_rate %>/5 </p>
	</div>	


	<div class = "posts_show_content">
		<%= @post.rich_content %>
	</div>

	<div class="posts_show_tags">
		<%= @tags%>
	</div>

	<div class = "posts_show_mark">
		<p>Author's rate : <%= @post.mark %>/10 </p>
	</div>

		<div class="all_comments">
			<% @comments.each do |comment| %>
				<div class="comment">
					<% @author = User.find(comment.user_id)%>
					<p> Author : <%=@author.username%></p>
					<div class = "posts_show_comment_rich"></p><%= comment.rich_content%></p></div>
				</div>
			<% end %>
		</div>

	<% if current_user %>
		
		<div class="new_comment">
			<p>Give your comment : </p>
		</div>
		<%= form_with url: '/comments',method: :post do |form| %>

		<div>
			<div><%= form.rich_text_area :rich_content %></div>
			<%= form.hidden_field :user_id, value: current_user.id%>
			<%= form.hidden_field :post_id, value: @post.id%>
			<%= form.hidden_field :content, value: ""%>
			<%= form.submit :Send%>
		</div>
		<% end %>

		<div class="like_btn">
			<%= link_to 'Like', likes_path(:post_id => @post.id, :user_id => current_user.id ), method: :post%>
		</div>

		<div class = "rate">			
			<form action="/rates" method="post">
				<div class="rating-area">
				<input type="hidden" name="user_id" value=<%=current_user.id%>>

				<input type="hidden" name="post_id" value=<%=@post.id%>>

				<input type="radio" id="star-5" name="mark" value=5>

				<label for="star-5" title="Оценка «5»"></label>	

				<input type="radio" id="star-4" name="mark" value=4>

				<label for="star-4" title="Оценка «4»"></label>    

				<input type="radio" id="star-3" name="mark" value=3>

				<label for="star-3" title="Оценка «3»"></label>  

				<input type="radio" id="star-2" name="mark" value=2>

				<label for="star-2" title="Оценка «2»"></label>    

				<input type="radio" id="star-1" name="mark" value=1>

				<label for="star-1" title="Оценка «1»"></label>

				<p><input type="submit" class="post_show_submit_rate" value="Rate"></p>

				</div>
			</form>
		</div>
	<%= link_to 'Back to personal account', home_path(:id => current_user.id) %>
	<% end %>
	<%= link_to 'Back to search', '/'%>
</div>
