<!DOCTYPE html>
<html>
  <head>
    <title>Task5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <div class = "search">
      <p>Search the post  </p>
      <div class="home_search_all">
        <input class = "search_input" type="text" name="search">
        <ul class = "search_res">
          
        </ul>
      </div>
      <script type="text/javascript">
        $(".search_input").on('input',function () {
          $(".search_res").empty();
          let v = this.value
          if(/^[a-zA-Z0-9]+$/.test(v)){
            $.ajax({
              type: 'GET',
              url: `/find/${v}`,
              success: function(data){
                if(data){
                  data.forEach(obj => {
                    if(obj.published){  
                      $(".search_res").append(`
                        <li>
                          <div class = "post_li">
                            <p> Name : ${obj.name}</p>
                            <a href = "/posts/${obj.id}">Show</a>
                          </div>
                        </li>`
                        )
                      }
                  })
                }
              }
            })
          }
        });
      </script>
    </div>
    <div class = "user_homes">
      <ul>
          <li id = "theme" class="theme_disable">Change theme</li>
          <script type="text/javascript">
            $("#theme").on('click',function(){
              if(this.classList.contains("theme_disable")){
                $(".theme_disable").removeClass().addClass('theme_enable')
                $("html").css('filter','invert(100%)')
              }else{
                $(".theme_enable").removeClass().addClass('theme_disable')
                $("html").css('filter','invert(0%)')
              }
            })          
          </script>
        <% if !current_user %>
          <li><%= link_to 'Sign up', new_user_registration_path%></li>
          <li><%= link_to 'Sign in', new_user_session_path%></li>
        <% else %>
          <li>Hello , <%= current_user.username %> </li>
          <li><%= link_to 'Go to account', home_path(:id => current_user.id)%></li>
        <% end %>
      </ul>
    </div>
  </div>
    <%= yield %>
  <footer class="footer"></footer>
  </body>
</html>
